<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            text-align: center;
            body-align: center;
            padding: 50px;
            background-color: #d3f9d8;
        }

        h1 {
            margin-bottom: 30px;
        }

        .btn-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<br><br><br>
<br><br><br>
<br>
    <h1 class="display-4">Welcome to the Interview Process!</h1><br>

    <div class="btn-container">
        <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}">Let's Get Started - Signup</a>
        <a class="btn btn-success btn-lg" href="{{ url_for('login') }}">Already a Member? - Login</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
